@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;

    --scroll-margin-small: 100px;
    --scroll-margin-medium: 100px;
    --scroll-margin-large: 100px;

    --padding-top-small: 100px;
    --padding-top-medium: 100px;
    --padding-top-large: 100px;

    --padding-bottom-small: 100px;
    --padding-bottom-medium: 100px;
    --padding-bottom-large: 100px;
  }
}
